services:
  rabbitmq:
    image: "rabbitmq:3.13-rc-management"
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    env_file:
      - .env
    networks:
      - backend

  user-service:
    build:
      context: ./UserService
    container_name: UserService
    ports:
      - "5002:5002"
    env_file:
      - .env
    networks:
      - backend
    depends_on:
      - rabbitmq
    restart: unless-stopped

  book-service:
    build:
      context: ./BookService
    container_name: BookService
    ports:
      - "5006:5006"
    env_file:
      - .env
    networks:
      - backend
    restart: unless-stopped

  borrow-service:
    build:
      context: ./BorrowService
    container_name: BorrowService
    ports:
      - "5003:5003"
    env_file:
      - .env
    networks:
      - backend
    restart: unless-stopped
    depends_on:
      - rabbitmq

  database:
    image: postgres:18-alpine
    container_name: db
    env_file:
      - .env
    networks:
      - backend
    volumes:
      - postgres-data:/var/lib/postgresql/data

networks:
  backend:

volumes:
  postgres-data:
