services:
  user-service:
    build:
      context: ./UserService
    container_name: UserService
    ports:
      - "5002:5002"
    env_file:
      - .env
    networks:
      - backend
    restart: unless-stopped

  book-service:
    build:
      context: ./BookService
    container_name: BookService
    ports:
      - "5006:5006"
    env_file:
      - .env
    networks:
      - backend
    restart: unless-stopped

  database:
    image: postgres:18-alpine
    container_name: db
    env_file:
      - .env
    networks:
      - backend
    volumes:
      - postgres-data:/var/lib/postgresql/data

networks:
  backend:

volumes:
  postgres-data:
